/* Estilos para a página de serviços */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card-title {
    color: #f833ac;
    font-weight: bold;
}
.card-text {
    color: #555;
}