/* Estilos específicos da página editorial */
.card {
    border: none;
    border-radius: 10px;
    background: #f833ac;
}
.card-title {
    color: #f833ac;
    font-weight: bold;
}
.card-text {
    color: #555;
}
.card img {
    border-radius: 10px 10px 0 0;
}